<!DOCTYPE html>
<html lang="en">
<head>
  <title>To Do List</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
	<div class="wrapper">
		<h1>Isabel's to do list</h1>
		<ul>
			<% @lines.each do |line| %>
				<% task, date = line.split(" - ") %>
				<li>
					<%="#{task} "%> 
					<span class="date"><%="#{date}"%></span>
				</li>
			<% end %>	
		</ul>
		<h2> Add another climb!</h2>
					<div class="addNew">

		<form action='/' method='POST'>
	  			<input type='text' name='task' placeholder='peak' />
	  			<input type='text' name='date' placeholder='date' />
	  			<input type='submit' value='Save'>
		</form>
			  		</div>

	</div>
</body>
</html>


