<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bucket List</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
	<div class="wrapper">
		<h1>Users</h1>
		<ul>
			<% @users.each do |user| %>
				<li>
					<form action="/users/<%=user.name %>" method="POST">
  						<input type="submit" value="✓"/>
  						<%="#{user.name} "%> 
					</form>

				</li>
			<% end %>	
		</ul>
		<h2> Add another user</h2>
		<div class="addNew">

		<form action='/create_user' method='POST'>
	  			<input type='text' name='description' placeholder='peak' />
	  			<input type='text' name='due_date' placeholder='date' />
	  			<input type='submit' value='Save'>
		</form>
		</div>

	</div>
</body>
</html>

